.docblock-argstable-head th:nth-child(3),
.docblock-argstable-body td:nth-child(3) {
    display: none;
}
.sbdocs-wrapper {
    min-height: fit-content !important;
    padding: 1rem !important;
}

a > code {
    color: #1a73e8 !important;
    font-weight: 600;
    text-decoration: none;
}